/* h2{
        color:white;
        font-size: 40px;
        text-align: left;
        text: decoration white 0;(238, 238, 235);
        background-color:blue;
        text-indent: 20%;
        margin-top:0px;
        
        
    }*/
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
    body {
  background-image: url("paper.gif");
}
section{
 text-align: center;   
}
footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
section h2 span{
    background-color:yellowgreen;
     color: white;
     border-radius: 10px;
}

.banner{
    background-image: url(./Screenshot\ \(274\).png );
    height: 20vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: top center ;
    background-attachment: fixed;
}
header{
    background-color: black;

}
.information{
    background-color: rgba(156, 231, 103, 0.289);
    text-align: center;
}

    
.profile_img{
    border-radius: 50%;
}
.sm_handle a {
    background-color: turquoise;
    margin: 30px 10px;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;


}
.sm_handle a:hover{
    background-color: royalblue;
}
.sm_handle a i{
    margin: 5px;
}
.registration_process{
  text-align: center;
  
  background-color: #4CAF50;
}
.form_a{
  text-align: center;
  background-color: aqua;
}
.sumbit_a{
  color:darkmagenta;
  background-color: darkorange;
  
}